# log
output_path: "./Experiments/log_base"

# data
in_channels: 3
num_classes: 1 # must count the background class
threshold: 8
ours: True
ours_start: 200

# our loss
stepsz: 0.1
alpha: 0.0001
beta: 0.01
fltrstdev: 0.5
extparam: 1
nsteps: 10
nsteps_width: 10
ndims: 2
cropsz: [32,32]
dmax: 15
maxedgelength: 5
extgradfac: 2.0
slow_start: 100 # epoch for which snake shouldn't optimize
    
# network
three_dimensional: False
m_channels: 32
n_convs: 2
n_levels: 3
dropout: 0.1
batch_norm: True
upsampling: "deconv"
pooling: "max"

# optimizer
lr: 0.001
weight_decay: 0.0001
lr_decay: True
lr_decay_factor: 0.001

# training
batch_size: 5
crop_size: [128,128]

# testing
crop_size_test: [128,128]
margin_size: [22,22]

# trainer
num_iters: 1000
print_every: 10
valid_every: 100
save_every: 100
